@import url('https://fonts.googleapis.com/css?family=Glass+Antiqua|Didact+Gothic|Courier+Prime&display=swap');

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';

@import 'technology';

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Glass Antiqua', 'serif';
}

html {
    font-size: 18px;
    line-height: 27px;
}

.fab, .fas {
    color: $orange-mid;
}

body {
    font-family: 'Didact Gothic', sans-serif;
    color: $font-color;
    background-color: $background-color;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: auto;
}

h1 {
    font-size: 3.3888889rem;
    font-weight: 400;
    line-height: 4.5rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;

    @media screen and (max-width:480px) {
        font-size: 2.3888889rem;
        line-height: 3rem;
    }
}

h2 {
    font-size: 2.2777778rem;
    line-height: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @media screen and (max-width:480px) {
        font-size: 1.7777778rem;
    }
}

h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

h4 h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

p,
ul,
ol,
pre,
table,
blockquote {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

/* Let's make sure all's aligned */
hr {
    border: 1px solid;
    margin: -1px 0;
}

a,
b,
i,
strong,
em,
small,
code {
    line-height: 0;
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
    display: flex;
    flex-direction: column;
}

.parallax-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    transform-style: preserve-3d;

    div:nth-child(1) {
        background-color: $green-mid;
        width: 800px;
        height: 800px;
        transform: translate3d(-60vw, 0, -20px);
        // transform: translate3d(calc(30vw - 50% - 150vw * 0.3), 30vh, -15px) scale(2, 2);
    }

    div:nth-child(2) {
        position: absolute;
        background-color: $flavescent;
        width: 400px;
        height: 400px;
        bottom: 0;
        right: 0;
        transform: translate3d(20vw, 0, -7px);
        // transform: translate3d(calc(70vw - 50% + 150vw * 0.3), 0, -10px) scale(2, 2);
    }
}

.header {
    height: 50vh;
    min-height: 16rem;
    max-height: 26rem;
    flex-shrink: 0;
}

.header-backdrop {
    background-color: $brown;
    background-image: url('../../../image/wood_texture_brown.jpg');
    background-size: cover;
}

.header-container {
    position: relative;
    margin: 0 auto;
    padding: 20px 0;

    @media (min-width: 768px) {
        max-width: 768px;
    }

    @media (min-width: 1024px) {
        max-width: 1024px;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    padding: 0;
}

.nav {
    @media (min-width: 768px) {
    transform: translateX(50%);
    }

    a {
        color: $orange-mid;
    }

    ul li {
        display: inline;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        margin: 0 10px;
    }
}

.main {
    width: 100%;
    margin: 0 auto;

    @media (min-width: 768px) {
        max-width: 768px;
    }

    @media (min-width: 1024px) {
        max-width: 1024px;
    }
}

section {
    margin: 0 8px;
    @media (min-width: 768px) {
        h1 {
            width: 60%;
        }

        &:nth-of-type(2n) {
            // background-color: red;
            text-align: left;

            h1 {
                margin-right: auto;
            }

            .flex-text {
                flex-direction: row;
            }
        }

        &:nth-of-type(2n - 1) {
            // background-color: lightblue;
            text-align: right;

            h1 {
                margin-left: auto;
            }

            .flex-text {
                flex-direction: row-reverse;
            }

            ul {
                direction: rtl;
            }
        }
    }
}


.flex-text {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:480px) {
        flex-direction: column;
    }

    gap: 4em;

    p {
        max-width: 60ch;
    }

    div:nth-of-type(2) {
        flex-grow: 1;
        text-align: center;
    }
}

.transition {
    // background-color: brown;
    height: 1.5rem * 8;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $orange-mid;
    background-color: $brown;
    background-image: url('../../../image/wood_texture_brown.jpg');
    background-size: cover;
    height: 1.5rem;
    padding: 2px 12px;
    margin-top: auto;

    @media screen and (max-width:480px) {
        span {
            display: none;
        }
    }
}