$green-light: #363062;
$green-mid: #38406c;
$green-dark: #2f1e2e;
$orange-light: #f8cd83;
$orange-mid: #8f4247;
$orange-dark: #522833;
$brown: #2f0f18;
$flavescent: #34243d;

$font-color: #ffeb8e;
$accent-color: #e1a769;
$link-color: #fda901;
$background-color: #363062;

$sheep-img-url: url('../../../image/sheep_simple_dark.svg');

@import 'variables';

@import 'main';