$primary-light: #363062;
$primary-mid: #38406c;
$primary-dark: #2f1e2e;
$secondary-light: #f8cd83;
$secondary-mid: #8f4247;
$secondary-dark: #522833;
$brown: #2f0f18;
$special: #34243d;

$font-color: #ffeb8e;
$accent-color: #e1a769;
$link-color: #fda901;
$emphasis-color: #dbac12;
$background-color: #363062;

$sheep-img-url: url('../../../image/sheep_simple_dark.svg');
$wood-texture-url: url('../../../image/wood_texture_dark.jpg');

@import 'variables';

@import 'main';