$green-light: #d4df70;
$green-mid: #afd96d;
$green-dark: #406c56;
$orange-light: #fc6;
$orange-mid: #f6b149;
$orange-dark: #a22543;
$brown: #6b312d;
$flavescent: #ffeb8e;

$font-color: $green-dark;
$accent-color: $orange-dark;
$background-color: $green-light;