$primary-light: #d4df70;
$primary-mid: #afd96d;
$primary-dark: #406c56;
$secondary-light: #fc6;
$secondary-mid: #f6b149;
$secondary-dark: #a22543;
$brown: #6b312d;
$special: #ffeb8e;

$font-color: $primary-dark;
$accent-color: $secondary-dark;
$background-color: $primary-light;